@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
*::-webkit-input-placeholder { 
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body {
	font-family: "Roboto";
	font-size: 3.61vw;
	line-height: normal;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-bottom: 9.72vw;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0; 
  padding: 0; 
  display: flex;
  flex-direction: column; 
  position: relative;
}

.main-content {
  flex-grow: 1; 
}

.header__wrapper {
	padding: 0.83vw 4.17vw;
	padding-left: 3.33vw;
	gap: 4.17vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo img {
	width: 24.44vw;
	height: auto;
}
.header__title {
	padding: 0.56vw 1.94vw;
	height: 6.94vw;
	box-shadow: 0 0.56vw 1.94vw 0 rgba(0, 0, 0, 0.06);
	border-radius: 0.83vw;
	border: 0.28vw solid #f0da2f;
	white-space: nowrap;
    overflow: hidden;
	flex: 1;
	position: relative;
}
.marquee {
  display: flex;
  white-space: nowrap;
  position: absolute;
  will-change: transform;
  animation: marqueeAnim linear infinite;
}

.marquee span {
  padding-right: 2.78vw; 
}
@keyframes marqueeAnim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.billbord {
	text-align: center;
}
.billbord__image img {
	max-width: 100%;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.billbord__content {
	padding: 4.17vw;
	padding-bottom: 1.39vw;
}
.billbord__title {
	font-size: 6.67vw;
	margin-bottom: 1.67vw;
	font-style: italic;
	line-height: normal;
}
.billbord__descr {
	font-size: 3.89vw;
	margin-bottom: 5.56vw;
	line-height: normal;
}
.btn-main {
	font-size: 4.44vw;
	height: 10.83vw;
	padding: 0 9.17vw;
	background: #2aabed;
	border-radius: 1.39vw;
	font-weight: 500;
	font-family: "Roboto";
	text-align: center;
	border: none;
	color: #fff;
	position: relative;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.btn-main::before {
    content: "";
    width: 26.11vw;
    height: 10.83vw;
    background-image: url(../img/glow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes slideme {
    0% {
        left: -8.33vw;
        margin-left: 0
    }

    30% {
        left: 110%;
        margin-left: 22.22vw
    }

    100% {
        left: 110%;
        margin-left: 22.22vw
    }
}

.footer {
	padding-bottom: 3.89vw;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
.link-page {
	font-size: 2.78vw;
	line-height: normal;
	text-decoration: underline;
	color: #000;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transition: all 0.3s;
}
.modal {
	padding: 4.17vw;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 500;
	visibility: hidden;
	opacity: 0;
	pointer-events: initial;
	-webkit-perspective: 1000px;
    perspective: 1000px;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}
.modal__inner {
	-webkit-backface-visibility: hidden;
    -webkit-perspective: 0;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
}
.modals-wrap {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    z-index: 600;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.modal__content {
	padding: 3.89vw 2.78vw;
	min-height: 74.44vw;
	max-width: 370px;
	width: 100%;
	margin: 0 auto;
	border: 0.28vw solid #f7f7f7;
	border-radius: 2.78vw;
	box-shadow: 0 1.67vw 2.22vw 0 rgba(0, 0, 0, 0.15);
	background: #fff;
	position: relative;
}
.modal__close {
	top: 0;
	right: 0;
    width: 9.72vw;
    height: 9.72vw;
	cursor: pointer;
	position: absolute;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
}
.progressbar {
	height: 2.5vw;
	margin-right: 6.94vw;
	margin-bottom: 3.89vw;
	border-radius: 25vw;
	position: relative;
	background: #e8e8e8;
}
.progressbar__value {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: all 0.3s;
	background: #f0da2f;
	border-radius: 25vw;
}
.modal__title {
	font-size: 4.17vw;
	margin-bottom: 4.72vw;
	font-weight: 500;
	line-height: normal;
}
.checkbox label,
.radio label {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox__fake,
.radio__fake,
.checkbox label input,
.radio label input {
	width: 3.61111vw;
	height: 3.61111vw;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	margin: 0;
	margin-right: 3.33333vw;
}
.checkbox__fake::before,
.checkbox__fake::after,
.radio__fake::before,
.checkbox input::after,
.checkbox input::before,
.radio input::after,
.radio input::before {
	position: absolute;
    display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: .2s;
}
.radio__fake::before,
.radio input::before {
	background-image: url(../img/radio.svg);
}
.radio input::after {
	opacity: 0;
	background-image: url(../img/radio_active.svg);
}
.checkbox__fake::before,
.checkbox input::before {
	background-image: url(../img/checkbox.svg);
}
.checkbox__fake::after,
.checkbox input::after {
	opacity: 0;
	background-image: url(../img/checkbox_active.svg);
}
.checkbox_another.active .checkbox__fake::before,
.checkbox input:checked:before,
.radio input:checked:before {
	opacity: 0;
}
.checkbox_another.active .checkbox__fake::after,
.checkbox input:checked:after,
.radio input:checked:after {
	opacity: 1;
}
.checkbox_another.active .checkbox__fake + span,
.checkbox input:checked + span,
.radio input:checked + span {
	font-weight: 500;
}
.checkbox__click {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.checkbox__fake {
	flex: none !important;
}
.checkbox_another.active input {
	z-index: 10;
	visibility: visible;
	opacity: 1;
}
.checkbox,
.radio {
	margin-bottom: 2.77778vw;
}
.checkbox {
	margin-bottom: 2.22222vw;
}
.checkbox:last-child,
.radio:last-child {
	margin-bottom: 0;
}
.checkbox span {
	flex: 1;
	position: relative;
}
.checkbox span input {
	font-size: 3.61111vw;
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	padding: 0;
	border: none;
	font-family: "Roboto";
}
.checkbox input:checked + span input {
	visibility: visible;
	opacity: 1;
}
.modal__buttons {
	gap: 3.88889vw;
	padding-top: 2.77778vw;
	display: flex;
	align-items: center;
}
.item-form + .modal__buttons {
	padding-top: 1.94444vw;
}
.btn-page {
	height: 7.77778vw;
	padding: 0 2.77778vw;
	font-size: 3.05556vw;
	gap: 1.11111vw;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	border: 1px solid #000;
	border-radius: 0.83333vw;
	background: transparent;
}
.btn-page.btn-page_border {
	opacity: 0.5;
}
.btn-page img {
  filter: brightness(0%);
}
.modal__buttons .btn-page_border img {
	transform: rotate(180deg);
}
.item-form input,
.item-form textarea {
	height: 10.83333vw;
	font-size: 3.61111vw;
	padding: 2.77778vw;
	width: 100%;
	font-family: "Roboto";
	color: #000;
	border: 1px solid #e6e6e6;
	border-radius: 1.66667vw;
	resize: none;
	background: transparent;
	display: block;
}
.item-form textarea {
	height: 40.27778vw;
}
.item-form *::-webkit-input-placeholder {
	color: #000;
	opacity: 0.7;
}
.item-form *:-moz-placeholder {
	color: #000;
	opacity: 0.7;
}
.item-form *::-moz-placeholder {
	color: #000;
	opacity: 0.7;
}
.item-form *:-ms-input-placeholder {
	color: #000;
	opacity: 0.7;
}
.item-form {
	margin-bottom: 2.22222vw;
}
.title-success {
	font-size: 6.66667vw;
	max-width: 66.38889vw;
	margin: 0 auto;
	margin-top: 8.33333vw;
	line-height: 108%;
	text-align: center;
	font-weight: 500;
}
.icon-success img {
	max-width: 18.33333vw;
	margin: 0 auto;
	margin-top: 11.94444vw;
	height: auto;
	width: auto;
}
.icon-share img {
	max-width: 23.88889vw;
	margin: 0 auto;
	margin-top: 6.66667vw;
	margin-bottom: 5.55556vw;
	height: auto;
	width: auto;
}
.title-share {
	font-size: 4.44444vw;
	max-width: 75vw;
	margin: 0 auto;
	margin-bottom: 7.5vw;
	line-height: normal;
	text-align: center;
	font-weight: 500;
}
.share-unit {
	padding-left: 2.77778vw;
	border: 1px solid #e6e6e6;
	border-radius: 0.83333vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.share-unit__btn {
	width: 11.66667vw;
	height: 10.83333vw;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
.share-unit__value {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.copy-tooltip {
  position: absolute;
  top: -8.33333vw;
  right: 0;
  background: #000;
  color: #fff;
  padding: 1.11111vw 2.22222vw;
  border-radius: 1.11111vw;
  font-size: 3.33333vw;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.copy-tooltip.active {
  opacity: 1;
}
.modal-overlay.active {
	opacity: 0.85;
	visibility: visible;
}
.modal.active {
	opacity: 1; 
	visibility: visible;
}
.flip-in .modal__content {
  animation: flipIn 0.6s forwards ease-out;
}
.flip-out .modal__content {
  animation: flipOut 0.6s forwards ease-in;
}
.zoom-in .modal__content {
    -webkit-animation: ZoomIn 0.5s forwards;
    animation: ZoomIn 0.5s forwards;
}
.zoom-out .modal__content {
    -webkit-animation: ZoomOut 0.5s forwards;
    animation: ZoomOut 0.5s forwards;
}
.modal:first-child .modal__content {
	animation-duration: 0.4s;
}
@-webkit-keyframes flipOut {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-195deg);
            transform: rotateX(-195deg);
  }
  to {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flipOut {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-195deg);
            transform: rotateX(-195deg);
  }
  to {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flipIn {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(4.17vw);
            transform: rotateX(4.17vw);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@-webkit-keyframes flipIn {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(4.17vw);
            transform: rotateX(4.17vw);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes flipIn {
  0% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  50% {
    -webkit-transform: rotateX(4.17vw);
            transform: rotateX(4.17vw);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@-webkit-keyframes ZoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes ZoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes ZoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ZoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.icon-share img:nth-child(2),
.logo img:nth-child(2) {
	display: none;
}
.theme-dark {
	background: #000;
	color: #fff;
}
.theme-dark .link-page {
	color: #fff;
}
.theme-dark .icon-share img:nth-child(1),
.theme-dark .logo img:nth-child(1) {
	display: none;
}
.theme-dark .icon-share img:nth-child(2),
.theme-dark .logo img:nth-child(2) {
	display: block;
}
.theme-dark .modal__content {
	background: #000;
}
.theme-dark .modal__close {
  filter: brightness(0) invert(1);
}
.theme-dark .radio__fake::before,
.theme-dark .radio input::before {
	background-image: url(../img/radio2.svg);
}
.theme-dark .radio input::after {
	background-image: url(../img/radio_active2.svg);
}
.theme-dark .btn-page {
	border-color: #fff;
	color: #fff;
}
.theme-dark .btn-page.btn-page_border {
	color: #fff;
}
.theme-dark .btn-page img {
    filter: none;
}
.theme-dark .checkbox span input {
	background: #000;
	color: #fff;
}
.theme-dark .item-form textarea {
	background: transparent;
}
.theme-dark .item-form textarea,
.theme-dark .item-form input {
	color: #fff;
}
.theme-dark .item-form *::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.7;
}
.theme-dark .item-form *:-moz-placeholder {
	color: #fff;
	opacity: 0.7;
}
.theme-dark .item-form *::-moz-placeholder {
	color: #fff;
	opacity: 0.7;
}
.theme-dark .item-form *:-ms-input-placeholder {
	color: #fff;
	opacity: 0.7;
}
.theme-dark .checkbox span *::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.5;
}
.theme-dark .checkbox span *:-moz-placeholder {
	color: #fff;
	opacity: 0.5;
}
.theme-dark .checkbox span *::-moz-placeholder {
	color: #fff;
	opacity: 0.5;
}
.theme-dark .checkbox span *:-ms-input-placeholder {
	color: #fff;
	opacity: 0.5;
}
.title-modal {
	font-size: 6.67vw;
	max-width: 71.67vw;
	margin: 0 auto;
	margin-bottom: 2.78vw;
	line-height: 108%;
	font-weight: 500;
	text-align: center;
}
.modal_form {
	overflow: auto;
}
.modal_form .modal__content {
	padding: 11.11vw 4.17vw;
}
.descr-modal {
	font-size: 3.89vw;
	margin: 0 auto;
	margin-bottom: 7.78vw;
	max-width: 65.56vw;
	line-height: normal;
	text-align: center;
}
.item-form__title {
	margin-bottom: 2.5vw;
	font-weight: 500;
}
.item-form {
	margin-bottom: 4.17vw;
}
.modal__content .btn-main {
	width: 100%;
}
.modal_form {
	align-items: flex-start;
}
.agree-form {
	font-size: 2.78vw;
	max-width: 63.06vw;
	margin: 0 auto;
	margin-top: 8.06vw;
	text-align: center;
	line-height: normal;
}
.agree-form a {
	color: inherit;
	text-decoration: underline;
}
.radios-socials {
	max-width: 88.89vw;
	gap: 1.39vw;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.radio-social {
	max-width: 18.06vw;
}
.radio-social__content {
	padding: 1.94vw;
	width: 18.06vw;
	max-width: 100%;
	padding-bottom: 2.22vw;
	display: block;
	border-radius: 0.56vw;
	border: 1px solid transparent;
	transition: all 0.3s;
	cursor: pointer;
}
.radio-social__icon img {
	height: 9.72vw;
	width: auto;
	margin: 0 auto;
}
.radio-social__icon {
	display: block;
}
.radio-social__title {
	margin-top: 0.83vw;
	font-size: 2.78vw;
	line-height: normal;
	display: block;
	text-align: center;
}
.radio-social label {
	display: block;
	position: relative;
}
.radio-social label input {
	padding: 0;
	border: none;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
}
.radio-social_call input:checked + .radio-social__content {
	border-color: #f0da2f;
}
.radio-social_wp input:checked + .radio-social__content {
	border-color: #25d366;
}
.radio-social_tg input:checked + .radio-social__content {
	border-color: #039be5;
}
.radio-social_vk input:checked + .radio-social__content {
	border-color: #4d76a1;
}
.modal_form .modal__close {
	width: 4.72vw;
	height: 4.72vw;
	top: 4.17vw;
	right: 4.17vw;
}
.modal_main .title-modal {
	margin-bottom: 5.56vw;
	max-width: 100%;
}
.btn-main img {
	max-height: 100%;
	width: auto;
}
.btn-main_tg img {
	left: 1.39vw;
	position: relative;
}
.billbord__buttons {
	gap: 3.33vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn-main_tg {
	padding-right: 4.17vw;
	padding-left: 6.94vw;
	background: #27a7e8;
}
.btn-main_vk {
	padding-left: 4.17vw;
	padding-right: 2.78vw;
	background: #4e7199;
}
.billbord__buttons .btn-main {
	height: 12.5vw;
	width: 72.22vw;
	gap: 1.94vw;
}
.billbord__buttons .btn-main::before {
	display: none;
}
.no-filled .next-modal {
	visibility: hidden;
	opacity: 0;
}
.filled .next-modal {
	opacity: 1;
	visibility: visible;
}
.billbord .header__title {
	margin-top: 6.94vw;
}
.header__wrapper .header__title {
	top: -0.56vw;
}


@media (hover: hover) {
	.billbord__buttons .btn-main:hover {
		opacity: 0.9;
	}
}

@media (hover: none) {
	.billbord__buttons .btn-main:active {
		opacity: 0.9;
	}
} 
/* 
@media only screen and (min-width : 400px) {
	.wrapper {
        min-width: 350px;
        margin: 0 auto;
        width: 25%;
	}
	.header__wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 700px) and (max-width: 1330px) {
	.wrapper {
        max-width: 80%;
		width: 100%;
	}
	.logo img {
    width: 140px;
	}
	.billbord__image img {
    max-width: 100%;
	}
	.billbord__content {
		padding: 35px;
		padding-bottom: 10px;
	}
	.billbord__title {
    font-size: 43px;
    margin-bottom: 15px;
	}
	.billbord__descr {
    font-size: 26px;
    margin-bottom: 30px;
	}
	.header__title {
    padding: 4px 9px;
    height: 31px;
	}
	.billbord .header__title {
    margin-top: 45px;
}
.btn-main {
    font-size: 18px;
    height: 46px;
    padding: 0 39px;
}
.footer {
    padding-bottom: 20px;
}
.link-page {
    font-size: 14px;
}
body {
	font-size: 16px;
}
	.modal__content {
    padding: 30px 25px;
    min-height: 268px;
    max-width: 530px;
	}
	.modal__title {
    font-size: 18px;
	}
	.modal__close {
    width: 40px;
    height: 40px;
    background-size: 16px;
	}
	.btn-page {
    height: 31px;
    padding: 0 12px;
    font-size: 13px;
    gap: 8px;
	}
	.radio-social__icon img {
    height: 42px;
	}
	.radio-social__content {
    padding: 10px;
    width: 75px;
	}
	.radio-social {
    max-width: 75px;
}
.radios-socials {
    max-width: 373px;
    gap: 11px;
}
.title-share {
    font-size: 18px;
    max-width: 274px;
}
.modal_form .modal__content {
    padding: 40px 35px;
}
.billbord__buttons .btn-main {
        height: 56px;
        width: 331px;
        gap: 11px;
        padding: 0 29px;
}
}

@media (min-width: 700px) and (max-width: 1330px) and (max-height: 1220px) {
    .wrapper {
        max-width: 60%;
	}

} */

@media screen and (min-width: 500px) {
	.wrapper {
    	padding: 0 11vw;
	}
	body {
    font-size: 3vw;
	}
	.billbord__title {
    font-size: 5.5vw;
    margin-bottom: 1vw;
	}
	.logo img {
    width: 18.44vw;
	}
	.header__title {
    height: 5.94vw;
	}
	.billbord .header__title {
    margin-top: 3.94vw;
}
    .billbord__buttons .btn-main {
        height: 11vw;
        width: 61.22vw;
        gap: 0.94vw;
        font-size: 3.7vw;
    }
	.billbord__descr {
    font-size: 3.5vw;
    margin-bottom: 4vw;
	}
	.billbord__buttons {
    gap: 2.33vw;
	}
	.billbord__content {
		padding-top: 3vw;
	}
}

@media (orientation: landscape) {
body {
	font-size: 13px;
}
.wrapper {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 35px;
}
.header__wrapper {
	padding: 3px 15px;
	padding-left: 12px;
	max-width: 1000px;
	gap: 15px;
}
.logo img {
	width: 88px;
}
.header__title {
	padding: 2px 7px;
	height: 25px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.06);
	border-radius: 3px;
	border-width: 1px;
}
.marquee span {
  padding-right: 10px; 
}
.billbord__image img {
	max-width: 600px;
}
.billbord__content {
	padding: 15px;
	padding-bottom: 5px;
}
.billbord__title {
	font-size: 24px;
	margin-bottom: 6px;
}
.billbord__descr {
	font-size: 14px;
	margin-bottom: 20px;
}
.btn-main {
	font-size: 16px;
	height: 39px;
	padding: 0 33px;
	border-radius: 5px;
}
.btn-main::before {
    width: 94px;
    height: 39px;
}
@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0
    }

    30% {
        left: 110%;
        margin-left: 80px
    }

    100% {
        left: 110%;
        margin-left: 80px
    }
}

.footer {
	padding-bottom: 14px;
}
.link-page {
	font-size: 10px;
}
.modal {
	padding: 15px;
	-webkit-perspective: 1000px;
    perspective: 1000px;
}
.modal__content {
	padding: 14px 10px;
	min-height: 268px;
	max-width: 370px;
	border-radius: 10px;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.15);
}
.modal__close {
    width: 35px;
    height: 35px;
}
.progressbar {
	height: 9px;
	margin-right: 25px;
	margin-bottom: 14px;
	border-radius: 90px;
}
.progressbar__value {
	border-radius: 90px;
}
.modal__title {
	font-size: 15px;
	margin-bottom: 17px;
}
.checkbox__fake,
.radio__fake,
.checkbox label input,
.radio label input {
	width: 13px;
	height: 13px;
	margin-right: 12px;
}
.checkbox,
.radio {
	margin-bottom: 10px;
}
.checkbox {
	margin-bottom: 8px;
}
.checkbox span input {
	font-size: 13px;
}
.modal__buttons {
	gap: 14px;
	padding-top: 10px;
}
.item-form + .modal__buttons {
	padding-top: 7px;
}
.btn-page {
	height: 28px;
	padding: 0 10px;
	font-size: 11px;
	gap: 4px;
	border-radius: 3px;
}
.item-form input,
.item-form textarea {
	height: 39px;
	font-size: 13px;
	padding: 10px;
	border-radius: 6px;
}
.item-form textarea {
	height: 145px;
}
.item-form {
	margin-bottom: 8px;
}
.title-success {
	font-size: 24px;
	max-width: 239px;
	margin: 0 auto;
	margin-top: 30px;
}
.icon-success img {
	max-width: 66px;
	margin: 0 auto;
	margin-top: 43px;
}
.icon-share img {
	max-width: 86px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 20px;
}
.title-share {
	font-size: 16px;
	max-width: 270px;
	margin: 0 auto;
	margin-bottom: 27px;
}
.share-unit {
	padding-left: 10px;
	border-radius: 3px;
}
.share-unit__btn {
	width: 42px;
	height: 39px;
}
.copy-tooltip {
  top: -30px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}
.title-modal {
	font-size: 24px;
	max-width: 258px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.modal_form .modal__content {
	padding: 40px 15px;
}
.descr-modal {
	font-size: 14px;
	margin: 0 auto;
	margin-bottom: 28px;
	max-width: 236px;
}
.item-form__title {
	margin-bottom: 9px;
}
.item-form {
	margin-bottom: 15px;
}
.agree-form {
	font-size: 10px;
	max-width: 227px;
	margin: 0 auto;
	margin-top: 29px;
}
.radios-socials {
	max-width: 320px;
	gap: 5px;
}
.radio-social {
	max-width: 65px;
}
.radio-social__content {
	padding: 7px;
	width: 65px;
	padding-bottom: 8px;
	border-radius: 2px;
}
.radio-social__icon img {
	height: 35px;
}
.radio-social__title {
	margin-top: 3px;
	font-size: 10px;
}
.modal_form .modal__close {
	width: 17px;
	height: 17px;
	top: 15px;
	right: 15px;
}
.modal_main .title-modal {
	margin-bottom: 20px;
}
.btn-main_tg img {
	left: 5px;
}
.billbord__buttons {
	gap: 12px;
}
.btn-main_tg {
	padding-right: 15px;
	padding-left: 25px;
}
.btn-main_vk {
	padding-left: 15px;
	padding-right: 10px;
}
.billbord__buttons .btn-main {
	height: 45px;
	width: 260px;
	gap: 7px;
	font-size: 16px;
}
.billbord .header__title {
	margin-top: 25px;
}
.header__wrapper .header__title {
	top: -2px;
}
}